$menu-width: 300px;
$offcanvas-menu_color: #fff;
$offcanvas-menu_background: #232527;
$offcanvas-menu-open_color: #fff;

////
//  Transforms
.offcanvas-menu--active {
  .offcanvas-menu {
    left: 0;
    box-shadow: -5px 0 10px rgba(0, 0, 0, .3);
  }

  .body__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
}

////
// Open / Close

.offcanvas-menu__open {
  cursor: pointer;
  display: block;
}

.offcanvas-menu__close {
  clear: both;

  &:hover {
    background: rgba(255, 255, 255, .1);
    text-decoration: none;
  }

  div {
    cursor: pointer;
    padding: .75em;
    text-transform: uppercase;
  }
}

////
//  Off-canvas Menu

.offcanvas-menu {
  background: $offcanvas-menu_background;
  color: $offcanvas-menu_color;
  font-weight: normal;
  height: 100vh;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 0;
  width: $menu-width;
  max-width: 100%;
  z-index: 99999;
  left: -$menu-width;
  transition: left .5s ease;
}

.offcanvas-menu__navigation {
  $border-color: #fff;
  $border-style: dotted;
  $border-top-width: 2px;

  ul {
    margin: 0;
  }

  li {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    ul {
      display: none;
      border-top: 0;
      background: rgba(255, 255, 255, .1);

      li:first-child a {
        border-top: 0;
      }
    }
  }

  .nested-open {
    ul {
      display: block;
    }
  }

  a {
    border-color: $border-color;
    border-style: $border-style;
    border-bottom-width: $border-top-width;
    color: $offcanvas-menu_color !important;
    display: block;
    font-size: em(16);
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em;

    &.active,
    &:focus,
    &:hover {
      background: rgba(255, 255, 255, .1);
      text-decoration: none;
    }
  }
}

////
// Nested list button

.offcanvas-menu__toggle-nested {
  background: inherit;
  width: 30px;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, .15);
  z-index: 0;

  &::after {
    content: '';
    border: 8px solid transparent;
    border-top: 10px solid;
    color: inherit;
    display: block;
    position: absolute;
    right: 7px;
    top: 16px;
  }
}
