
$responsive-navigation_width: 300px !default;
$responsive-navigation_color: #fff !default;
$responsive-navigation_background: #333 !default;
$responsive-navigation_border-color: #fff !default;
$responsive-navigation_border-style: solid !default;
$responsive-navigation_border-width: 0 0 2px 0 !default;

/**
 *  Transforms
 */
.responsive-navigation--active {
  .responsive-navigation {
    left: 0;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  }

  .body__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
}

/**
 * Close
 */
.responsive-navigation__close {
  clear: both;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }

  div {
    cursor: pointer;
    padding: .75em;
    text-transform: uppercase;
  }
}

/**
 *  Off-canvas Menu
 */
.responsive-navigation {
  background: $responsive-navigation_background;
  color: $responsive-navigation_color;
  font-weight: normal;
  height: 100vh;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 0;
  width: $responsive-navigation_width;
  max-width: 100%;
  z-index: 99999;
  left: -$responsive-navigation_width;
  transition: left .5s ease;
}

.responsive-navigation__navigation {
  ul {
    margin: 0;
  }

  li {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    ul {
      display: none;
      border-top: 0;
      background: rgba(255, 255, 255, 0.1);

      li:first-child a {
        border-top: 0;
      }
    }
  }

  .nested-open {
    ul {
      display: block;
    }
  }

  a {
    border-color: $responsive-navigation_border-color;
    border-style: $responsive-navigation_border-style;
    border-width: $responsive-navigation_border-width;
    color: $responsive-navigation_color !important;
    display: block;
    font-size: em(16);
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em;

    &.active,
    &:focus,
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      text-decoration: none;
    }
  }
}

/**
 * Nested list button
 */
.responsive-navigation__toggle-nested {
  background: inherit;
  width: 30px;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 0;

  &::after {
    content: '';
    border: 8px solid transparent;
    border-top: 10px solid;
    color: inherit;
    display: block;
    position: absolute;
    right: 7px;
    top: 16px;
  }
}
