@import 'base';
@import 'style';

$spacing: 1.5em;

*, *:after, *:before { box-sizing: border-box; }

html, body {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.body__content {
  overflow-x: hidden;
  position:  relative;
}

.main {
  position: relative;
  z-index: 900;
}

.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.nav {
  background: #333;
  margin-bottom: $spacing;
  padding: 1em;
}

.responsive-navigation__open {
  float: right;

  @include bp(641px) {
    display: none !important;
  }
}

.nav__list {

  @include bp(0, 640px) {
    display: none !important;
  }

  @include bp(641px) {
    margin: 0;

    li {
      display: inline-block;
      vertical-align: bottom;

      + li {
        margin-left: 1em;
      }

      ul {
        display: none;
      }

      a {
        color: #fff;
        display: block;
        text-decoration: none;
      }
    }
  }
}

h1, p {
  margin-bottom: $spacing;
}
