$responsive-navigation-open_color: #fff;

$responsive-navigation_background: #333;
$responsive-navigation_color: #fff;
$responsive-navigation_width: 300px;
$responsive-navigation_open-side: right;

$border-color: rgba(#ccc, .5);
$border-style: solid;
$border-width: 1px;

%box-shadow { box-shadow: -5px 0 10px rgba(#000, .3) inset; }

@mixin bp($min: 0, $max: 0) {
  @if $min != 0 and $max != 0 {
    // set both min and max
    $query: '(min-width: #{$min}) and (max-width: #{$max})';
  } @else if $min != 0 and $max == 0 {
    // set just min
    $query: '(min-width: #{$min})';
  } @else if $min == 0 and $max != 0 {
    // set just max
    $query: '(max-width: #{$max})';
  }

  @media #{$query} { @content; }
}

////
//  Transforms

.responsive-navigation--active {

  .responsive-navigation {
    #{$responsive-navigation_open-side}: 0;
    transition: #{$responsive-navigation_open-side} .5s ease;
  }

  .body__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
}

////
// Open / Close styles


.responsive-navigation__open {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  color: $responsive-navigation-open_color;
  cursor: pointer;
  display: inline-block;
  font-size: 38px;
  line-height: (20/38);
  top: 55px;
  z-index: 99;
  padding: 10px 0;
  min-height: 30px;

  span {
    font-size: 1.3em;
    position: relative;
    top: .05em;
    text-shadow: 0 1px;
  }

  @include bp(desktop) {
    display: none;
  }
}

.responsive-navigation__close {
  color: #999;
  cursor: pointer;
  display: block !important;
  padding: .5em;
  text-align: center;

  &:hover {
    background: rgba(255, 255, 255, .1);
    text-decoration: none;
  }

}

////
//  Off-canvas Menu styles



.responsive-navigation {
  @include bp(desktop) {
    display: none !important;
  }
  background: $responsive-navigation_background;
}

.responsive-navigation {
  @extend %box-shadow;
  color: $responsive-navigation_color;
  font-weight: normal;
  height: 100vh;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 0;
  width: $responsive-navigation_width;
  max-width: 100%;
  z-index: 99999;
  #{$responsive-navigation_open-side}: -$responsive-navigation_width;
}

.responsive-navigation__navigation {

  li {
    border: 0;
    border-color: $border-color;
    border-style: $border-style;
    border-top-width: $border-width;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    &:last-child { border-bottom-width: $border-width; }

    ul {
      display: none;
      border-top: 0;
      background: rgba(255, 255, 255, .1);

      li:first-child a {
        border-top: 0;
      }
    }
  }

  .nested-open {
    ul {
      display: block;
    }
  }

  a {
    color: $responsive-navigation_color !important;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em;

    &.active,
    &:focus,
    &:hover {
      background: rgba(255, 255, 255, .1);
      text-decoration: none;
    }
  }
}

.responsive-navigation__toggle-nested {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background: rgba(255, 255, 255, .1);

  &:after {
    content: '';
    color: inherit;
    display: block;
    position: absolute;
    right: 7px;
    top: 16px;
    border: 8px solid transparent;
    border-top: 10px solid;
  }
}
